html,
body,
#app,
.App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: "Lato";
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: "Iceland", cursive !important;
}
